BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlignTrailingComments: true
NamespaceIndentation: All
BreakBeforeBraces: Linux
